<div class="container">

  <section class="hero-image">
  </section>

  <section class="intro-text">
    Change your world: Learn to code.

    Basic programming skills are the must have of the new generation of CVs. Basic programming knowledge will help you in almost any computer based job.
  </section>

  <section class="carousel">
    <div id="owl-demo">
      <div class="item"><%= image_tag "code.jpg" %></div>
      <div class="item"><%= image_tag "code.jpg" %></div>
      <div class="item"><%= image_tag "code.jpg" %></div>
      <div class="item"><%= image_tag "code.jpg" %></div>
    </div>
  </section>

  <section class="about">
    After graduating with a History of Art degree Rosie joined the first coRosie934hort of CodeFirst: Girls as a self-proclaimed technophobe with no programming experience. She was soon hooked and now, just over a year on, works as a full stack developer with Wool and The Gang; an ethical fashion knitwear brand. She uses her unusual background to draw on similarities between the creative arts and programming, demonstrating that you don’t necessarily need a comp sci degree to build a website.

    She has spoken about her bizarre career path at Apple, Digital Shoreditch, and here she is at stack overflow.
  </section>

  <section class="testimonials">
    <ul>
      <li>[code school] is great! I love it</li>
      <li>[wooo yeah!]</li>
      <li>[simply the best]</li>
    </ul>
  </section>

</div>